/* 
    Document   : estilo
    Created on : 04/06/2013, 16:45:55
    Author     : Fran
    Description:
        Purpose of the stylesheet follows.
*/

.topo{
    padding: 10px;
    background-color: whitesmoke;
}

.cor3, .cor2{
    padding: 30px;
}

.corTopo{
    padding: 10px;
    background-color: #E6E6FA;    
}

.cor2{
    background-color: whitesmoke;
}

.cor3{
    background-color: whitesmoke;
}

.corRodape{
    padding: 8px;
    background-color: #4A708B;
}

.h4{
    text-align: center;
    color: whitesmoke;
}

.h1{
    text-align: center;
    color: #CD661D;
}
.tableborda{
    border: 10px;
}

/* Sticky footer styles
      -------------------------------------------------- */
html,
body {
    height: 100%;
    background-color: whitesmoke
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 60px;
}
#footer {
    background-color: #8B4513;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}