<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	 version="3.0">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <display-name>Dinamica</display-name>
    <servlet-mapping>
        <servlet-name>PesquisarAcaoServlet</servlet-name>
        <url-pattern>/pesquisarAcao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarAcaoServlet</servlet-name>
        <url-pattern>/consultarAcao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarAcaoServlet</servlet-name>
        <url-pattern>/alterarAcao</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>cadastrarAcao</servlet-name>
        <servlet-class>service.CadastrarAcaoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarAcaoServlet</servlet-name>
        <servlet-class>service.PesquisarAcaoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarAcaoServlet</servlet-name>
        <servlet-class>service.ConsultarAcaoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarAcaoServlet</servlet-name>
        <servlet-class>service.AlterarAcaoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cadastrarAcao</servlet-name>
        <url-pattern>/cadastrarAcao</url-pattern>
    </servlet-mapping>
</web-app>
